body, html {
    height: 100%;
}

.wcu { 
    /* The image used */
    background-image: url(../images/white-pattern.jpg);

    /* Full height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

nav {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background-color: #f9f9f9;
    background-image: url(../images/textured-wall.jpeg);
}


nav img {
    width: auto;
    height: 80px;
}

.nav-link {
    font-size: 20px;
    color: black;
}

p {
    font-size: 24px;
    font-family: "Arial Bold";
}

.img-header, .services-pg-h, .contact-pg-h {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
}


.active {
    text-decoration: underline;
}

.img-header {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
    background-image: url(../images/background.jpg);
}

.img-header-logo{
    height: 230px;
    width: auto;
}

.img-header-text {
    color: red;
}

.strokeme   {
    color: red;
    text-shadow:
    -1px -1px 0 #D3D3D3,
    1px -1px 0 #D3D3D3,
    -1px 1px 0 #D3D3D3,
    1px 1px 0 #D3D3D3;  
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-family: "Fortunates December";
}

/* Why Choose Us? */

.wcu-h {
    margin-top: 10px;
}

.wcu-img {
    margin-bottom: 0px;
}

.wcu-p {
    width: 80%;
}

.wcu { 
    /* The image used */
    background-image: url(../images/white-pattern.jpg);

    /* Full height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

/* END Why Choose Us? */

/* Services */
.services {
    background-color: white;
    background-image: url(Test-Header-Pic.jpg);
    
}

.s-p {
    width: 50%;
    font-size: 20px;
}


.btn-lg {
    width: 300px;
    margin-bottom: 10px;
}

.style-finishing {
    border-style: solid;
    border-width: 2px;
}
/* END Services */

/* Hours Of Operation */
.hop {
    background-image: url(../images/wood-floor.jpg);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.hop-h {
    color: white;
}


.hop-days{
    font-size: 50px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: indianred;
    color: white;
}

.hop-days-time{
    font-size: 20px;
    text-align: center;
    color: white;
}
/* END Hours Of Operation */

.foot {
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-color: black;
    background-color: antiquewhite;
    background-image: url(../images/textured-wall.jpeg);
}

.foot-hop, .foot-loc {
    margin-bottom: 0.5px;
}

.foot-link a {
    color: black;
    font-size: 25px;
}

#mapDiv{
    width: 100%;
    height: 55%;
}

.contact-h {
    font-size: 38px;
}

.c-cat {
    border-right-width: 2px;
    border-right-style: solid;
}


@media (max-width: 768px) {
    .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .img-header-text {
    font-size: 3.75rem;
    }
    .img-header-text2 {
    font-size: 2.25rem;
    } 
    .foot-links {
        display: inline-block;
        margin: 0px 5px 10px 5px;
        font-size: 25px;
    }
    .nav-item{
        text-align: center;
    }
    .services-p {
        font-size: 20px;
    }
    
    .s-h2 {
        font-size: 50px;
    }
    .c-cat {
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-right: none;
    }
}